.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

aside {
  border-right: 1px solid black;
  width: 18%;
}

.category {
  margin-bottom: 5%;
  margin-left: 10%;
  text-align: left;
}

.category-title {
  border-bottom: 1px solid black;
  font-weight: 800;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 70%;
}

.category label {
  font-size: 1rem;
}

.category label:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.home-search {
  display: flex;
  padding-top: 1%;
  text-align: center;
  width: 100%;
}

.searching-elements {
  align-items: center;
  background-color: #003be5;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  width: 100%;
}

.home-results {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-items-results {
  display: flex;
  flex-wrap: wrap;
  height: 110vh;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.home-items-results h1 {
  color: #3a9c78;
  font-size: 3rem;
  width: 25rem;
}

.home-item {
  box-shadow: 0.3rem 0.1rem 0.9rem rgba(0, 0, 0, 0.4);
  height: 22rem;
  margin: 1rem;
  transform: scale(0.9);
  width: 17rem;
}

.home-item:hover {
  transform: scale(1);
  transition: all ease-in 0.2s;
}

.home-item img {
  width: 12rem;
}

.item-name {
  font-weight: 700;
}

.item-price {
  font-size: 1.4rem;
  font-weight: 700;
}

.searching-elements input {
  border: none;
  border-radius: 1rem;
  height: 1.2rem;
  margin-left: 3rem;
  margin-right: 5rem;
  padding: 0.5%;
  text-align: center;
  width: 100%;
}

.search-tools {
  display: flex;
  gap: 20%;
  width: 20rem;
}

.cartIcon {
  color: white;
  margin-right: 3rem;
  transform: scale(3);
}

.cartIcon:hover {
  transform: scale(3.5);
}

button {
  border: none;
}

.cart-back-icon {
  color: #3a9c78;
  left: 0;
  margin: 3rem;
  position: absolute;
  top: 5rem;
  transform: scale(3);
}

.cart-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 92vh;
}

.cart-message p {
  color: #3a9c78;
  font-size: 3rem;
  text-align: center;
  width: 20rem;
}
