.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

aside {
  border-right: 1px solid black;
  width: 18%;
}

.category {
  margin-bottom: 5%;
  margin-left: 10%;
  text-align: left;
}

.category-title {
  border-bottom: 1px solid black;
  font-weight: 800;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 70%;
}

.category label {
  font-size: 1rem;
}

.category label:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.home-search {
  display: flex;
  padding-top: 1%;
  text-align: center;
  width: 100%;
}

.searching-elements {
  align-items: center;
  background-color: #003be5;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  width: 100%;
}

.home-results {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-items-results {
  display: flex;
  flex-wrap: wrap;
  height: 110vh;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.home-items-results h1 {
  color: #3a9c78;
  font-size: 3rem;
  width: 25rem;
}

.home-item {
  box-shadow: 0.3rem 0.1rem 0.9rem rgba(0, 0, 0, 0.4);
  height: 22rem;
  margin: 1rem;
  transform: scale(0.9);
  width: 17rem;
}

.home-item:hover {
  transform: scale(1);
  transition: all ease-in 0.2s;
}

.home-item img {
  width: 12rem;
}

.item-name {
  font-weight: 700;
}

.item-price {
  font-size: 1.4rem;
  font-weight: 700;
}

.searching-elements input {
  border: none;
  border-radius: 1rem;
  height: 1.2rem;
  margin-left: 3rem;
  margin-right: 5rem;
  padding: 0.5%;
  text-align: center;
  width: 100%;
}

.search-tools {
  display: flex;
  gap: 20%;
  width: 20rem;
}

.cartIcon {
  color: white;
  margin-right: 3rem;
  transform: scale(3);
}

.cartIcon:hover {
  transform: scale(3.5);
}

button {
  background-color: #3a9c78;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem;
}

button:hover {
  background-color: #0a2018;
  transition: all ease-out 1s;
}

.cart-back-icon {
  color: #3a9c78;
  left: 0;
  margin: 3rem;
  position: absolute;
  top: 5rem;
  transform: scale(3);
  width: 100%;
}

.cart-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 92vh;
}

.cart-message p {
  color: #3a9c78;
  font-size: 3rem;
  text-align: center;
  width: 20rem;
}

.cart-item {
  display: flex;
  height: 90vh;
}

.item-img-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 1%;
  width: 35%;
}

.item-img-name img {
  width: 20rem;
}

.item-img-name p {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 10%;
  text-align: center;
  width: 80%;
}

.cart-back {
  color: #3a9c78;
  left: 0;
  margin: 3rem;
  position: absolute;
  top: 5rem;
  transform: scale(3);
}

.img-name {
  align-items: center;
  border: 0.5px solid rgb(54, 54, 152);
  box-shadow: 0.3rem 0.1rem 0.9rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 90%;
}

.item-data {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 5%;
}

.item-rate {
  display: flex;
  gap: 4rem;
  width: 60rem;
}

.item-details {
  height: fit-content;
  margin-top: 4%;
  padding: 2%;
  width: 15vw;
}

.item-details p {
  font-size: larger;
  font-weight: 500;
}

.item-eval {
  height: fit-content;
}

.item-price-btn {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;

}

.addToCartBtn {
  background-color: #3a9c78;
  box-shadow: 0.3rem 0.1rem 0.9rem rgba(0, 0, 0, 0.2);
  color: white;
  margin-left: 2%;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
}

.itemId {
  display: none;
}

.product-avaliation {
  margin-top: 6%;
}

.product-input {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

.rate {
  display: none;
}

.itemRate {
  border: 1px solid gray;
  margin-bottom: 1rem;
  padding: 1%;
}

.emailRate {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
